<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../assets/img/patissière.jpg"/>
    <link rel="stylesheet" href="../assets/css/normalize.css">
</head>
<body>
    <header>
        <nav class="short">
            <ul>
                <li><img src="../assets/img/patissière.jpg" ></li>
                <li><h1>Animeria</h1></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Romance</a></li>
                <li><a href="#">Aventure</a></li>
            </ul>
        </nav>
        <nav class="long">
            <ul>
                <li><a href="#">accueil</a></li>
                <li><a href="#">information</a></li>
                <li><a href="#">a propos de nous</a></li>
                <li><a href="#">aide</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="../assets/img/logo_assassination.jpg" alt="logo de assassination classroom" id="logo_assassination">
        <div class="clear"></div>
        <img src="../assets/img/assassination.jpg" alt="la classe de assassination classroom" id="img_assassinatioon">
        <p id="text_assassination">Au collège Kunugigaoka, Koro, une étrange créature occupe une place d'enseignant après avoir détruit la moitié de la Lune. Il a obtenu ce poste après avoir menacé le gouvernement de détruire la Terre. Il compte dispenser des cours normaux à la classe 3-E sous sa responsabilité ainsi que leur inculquer l'art de l'assassinat pour voir s'ils réussiront à le tuer. Les élèves s'attèlent donc en tentatives de meurtre. Cependant, le professeur cible se déplace à Mach 20, possède des tentacules à fonctions infinies et de surcroit est un excellent et érudit pédagogue. Koro laisse un an à ses élèves pour le tuer avant qu'il ne fasse sauter la planète.</p>
        <div class="clear"></div>
        <div class="les_saison">
            <a href="#"><img src="../assets/img/logo_assassination_saison_1.png" alt="logo de assassination classroom modifier pour que ce soi marquer saison 1" class="saison_assasination"></a>
            <a href="#"><img src="../assets/img/logo_assassination_saison_2.png" alt="logo de assassination classroom modifier pour que ce soi marquer saison 2" class="saison_assasination"></a>
        </div>
    </main>
</body>
</html>