body{
    background-image: url(../img/sneaker_mesh_fabric.png);
}
main{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
.bordure{
    border-color: white;
}
.bordure:last-of-type{
    margin-top: 50px;
}
.texte, textarea{
    width: 100%;
    font-size: 1.5em;
}
input, label, p{
    font-size: 1.5em;
}
p input{
    margin-right: 15px;
}
#inscription, #restart{
    width: 100%;
    margin-top: 15px;
}
#inscription{
    background-color: green;
}
#restart{
    background-color: red;
}